
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #2487ce;
    text-decoration: none;
}

    a:hover {
        color: #469fdf;
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2487ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover {
        background: #3e9bdd;
        color: #fff;
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #2487ce;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
    background: pink;
    position: fixed;
    width: 100%;
}

    #header.header-scrolled {
        border-color: #fff;
        box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    }

    #header .logo {
        font-size: 28px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
    }

        #header .logo a {
            color: #16507b;
        }

        #header .logo img {
            max-height: 40px;
        }

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
    padding-right: 250px;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 14px;
        color: #16507b;
        white-space: nowrap;
        transition: 0.3s;
    }

        .navbar a i, .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
            color: #2487ce;
        }

    .navbar .getstarted, .navbar .getstarted:focus {
        background: #2487ce;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

        .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
            color: #fff;
            background: #3194db;
        }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

        .navbar .dropdown ul li {
            min-width: 200px;
        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            text-transform: none;
        }

            .navbar .dropdown ul a i {
                font-size: 12px;
            }

            .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
                color: #2487ce;
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #124265;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

    .mobile-nav-toggle.bi-x {
        color: #fff;
    }

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 38, 58, 0.9);
    transition: 0.3s;
    z-index: 999;
}

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a, .navbar-mobile a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: #124265;
    }

        .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
            color: #2487ce;
        }

    .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
        margin: 15px;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

        .navbar-mobile .dropdown ul li {
            min-width: 200px;
        }

        .navbar-mobile .dropdown ul a {
            padding: 10px 20px;
        }

            .navbar-mobile .dropdown ul a i {
                font-size: 12px;
            }

            .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
                color: #2487ce;
            }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
    }

.conten-share-row_1 {
}

.left {
    position: absolute !important;
    right: 0;
    display: flex;
    font-weight: 900;
}

.conten-share-item {
    width: 24%;
    height: 500px !important;
    max-height: 500px;
    margin: 10px !important;
    position: relative;
}
.right-item{
    left: 410px;
}

.title {
    font-weight: 900;
}

.summary {
    padding: 5px 0px;
    cursor: pointer;
    color: blue;
}

.summary {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
    white-space: nowrap;
}

.contain-comment {
    overflow-y: auto;
    height: 100px;
    width: 400px;
}

    .contain-comment > p {
        margin: 0;
        padding: 0;
    }

.user-comment {
    font-weight: 900;
}

.your-comment {
    margin-top: 10px;
    width: 400px;
}

    .your-comment > input {
        margin-bottom: 5px;
    }

.accept {
    background: pink;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    border: unset;
    right: 0px;
}

.logo-header {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
}

    .logo-header:before,
    .logo-header:after {
        background: black;
        height: 2px;
        flex: 1;
        content: '';
    }

    .logo-header.left:after {
        background: none;
    }

    .logo-header.right:before {
        background: none;
    }
 /* Hide scrollbar for Chrome, Safari and Opera */
.contain-comment::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contain-comment {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}